body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(255, 101, 127);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
    background-color: rgb(91, 195, 199);
}
